<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.mapper.IncomeMaterielInfoMapper">
  <resultMap id="BaseResultMap" type="com.demo.springboot.domain.IncomeMaterielInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="materiel_no" jdbcType="VARCHAR" property="materielNo" />
    <result column="materiel_name" jdbcType="VARCHAR" property="materielName" />
    <result column="income_num" jdbcType="BIGINT" property="incomeNum" />
    <result column="income_date" jdbcType="TIMESTAMP" property="incomeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, materiel_no, income_num, income_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_income_materiel
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="queryIncomeMaterielCount" parameterType="incomeMaterielInfo" resultType="long">
    select count(1)
    FROM t_income_materiel
    <where>
      <if test="materielNo !=null and materielNo!=''">
        materiel_no LIKE concat('%',#{materielNo},'%')
      </if>
      <if test="startTime != null and startTime !=''">
        AND income_date &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime !=''">
        AND income_date &lt;= #{endTime}
      </if>
    </where>
  </select>

  <select id="listIncomeMateriel" resultMap="BaseResultMap">
    SELECT a.id,a.materiel_no,a.income_num,a.income_date,b.materiel_name
    FROM t_income_materiel a left join t_stock b on a.materiel_no=b.materiel_no
    <where>
      <if test="record.materielNo !=null and record.materielNo!=''">
        and a.materiel_no LIKE concat('%',#{record.materielNo},'%')
      </if>
      <if test="record.materielName !=null and record.materielName!=''">
        and b.materiel_name LIKE concat('%',#{record.materielName},'%')
      </if>
      <if test="record.startTime != null and record.startTime !=''">
          AND income_date &gt;= #{record.startTime}
      </if>
      <if test="record.endTime != null and record.endTime !=''">
          AND income_date &lt;= #{record.endTime}
      </if>
    </where>
    ORDER BY income_date DESC
    LIMIT #{page.index},#{page.pageSize}
  </select>

  <delete id="batchDeleteByPrimaryKeys">
    delete from t_income_materiel
    WHERE id in
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_income_materiel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.springboot.domain.IncomeMaterielInfo">
    insert into t_income_materiel (id, materiel_no, income_num, 
      income_date)
    values (#{id,jdbcType=BIGINT}, #{materielNo,jdbcType=VARCHAR}, #{incomeNum,jdbcType=BIGINT}, 
      #{incomeDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.springboot.domain.IncomeMaterielInfo">
    insert into t_income_materiel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="materielNo != null">
        materiel_no,
      </if>
      <if test="incomeNum != null">
        income_num,
      </if>
      <if test="incomeDate != null">
        income_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="materielNo != null">
        #{materielNo,jdbcType=VARCHAR},
      </if>
      <if test="incomeNum != null">
        #{incomeNum,jdbcType=BIGINT},
      </if>
      <if test="incomeDate != null">
        #{incomeDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.springboot.domain.IncomeMaterielInfo">
    update t_income_materiel
    <set>
      <if test="materielNo != null">
        materiel_no = #{materielNo,jdbcType=VARCHAR},
      </if>
      <if test="incomeNum != null">
        income_num = #{incomeNum,jdbcType=BIGINT},
      </if>
      <if test="incomeDate != null">
        income_date = #{incomeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.springboot.domain.IncomeMaterielInfo">
    update t_income_materiel
    set materiel_no = #{materielNo,jdbcType=VARCHAR},
      income_num = #{incomeNum,jdbcType=BIGINT},
      income_date = #{incomeDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>