<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springboot.mapper.ReceiveMaterielInfoMapper">
  <resultMap id="BaseResultMap" type="com.demo.springboot.domain.ReceiveMaterielInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="materiel_name" jdbcType="VARCHAR" property="materielName" />
    <result column="materiel_no" jdbcType="VARCHAR" property="materielNo" />
    <result column="receive_num" jdbcType="BIGINT" property="receiveNum" />
    <result column="receive_date" jdbcType="TIMESTAMP" property="receiveDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, receiver, materiel_no, receive_num, receive_date
  </sql>

  <select id="queryReceiveMaterielCount" parameterType="receiveMaterielInfo" resultType="long">
    select count(1)
    FROM t_receive_materiel
    <where>
      <if test="materielNo !=null and materielNo!=''">
        materiel_no LIKE concat('%',#{materielNo},'%')
      </if>
      <if test="receiver !=null and receiver!=''">
        receiver LIKE concat('%',#{receiver},'%')
      </if>
      <if test="startTime != null and startTime !=''">
        AND receive_date &gt;= #{startTime}
      </if>
      <if test="endTime != null and endTime !=''">
        AND receive_date &lt;= #{endTime}
      </if>
    </where>
  </select>

  <select id="listReceiveMateriel" resultMap="BaseResultMap">
    SELECT a.id,a.receiver,a.materiel_no,a.receive_num,a.receive_date,b.materiel_name
    FROM t_receive_materiel a left join t_stock b ON a.materiel_no=b.materiel_no
    <where>
      <if test="record.materielNo !=null and record.materielNo!=''">
        and a.materiel_no LIKE concat('%',#{record.materielNo},'%')
      </if>
      <if test="record.receiver !=null and record.receiver!=''">
        and a.receiver LIKE concat('%',#{record.receiver},'%')
      </if>
      <if test="record.materielName !=null and record.materielName!=''">
        and b.materiel_name LIKE concat('%',#{record.materielName},'%')
      </if>
      <if test="record.startTime != null and record.startTime !=''">
        AND a.receive_date &gt;= #{record.startTime}
      </if>
      <if test="record.endTime != null and record.endTime !=''">
        AND a.receive_date &lt;= #{record.endTime}
      </if>
    </where>
    ORDER BY receive_date DESC
    LIMIT #{page.index},#{page.pageSize}
  </select>

  <delete id="batchDeleteByPrimaryKeys">
    delete from t_receive_materiel
    WHERE id in
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.demo.springboot.domain.ReceiveMaterielInfo">
    insert into t_receive_materiel (id, receiver, materiel_no, 
      receive_num, receive_date)
    values (#{id,jdbcType=BIGINT}, #{receiver,jdbcType=VARCHAR}, #{materielNo,jdbcType=VARCHAR}, 
      #{receiveNum,jdbcType=BIGINT}, #{receiveDate,jdbcType=TIMESTAMP})
  </insert>
</mapper>